<div class="modal-header">
    <h3 class="modal-title"><translate>Run Operation</translate> <translate>{{op.title}}</translate></h3>
</div>
<div class="portlet-body form">
    <form role="form">
        <div class="form-body">


            <ng-include src="op.form_url" >
                </ng-include>


        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="run()" translate>{{op.title}}</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
</div>