<!-- BEGIN PAGE HEADER-->
<section class="clearfix container-fluid" id="section-basics" ng-controller="basicsCtrl">
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<i class="fa fa-angle-right"></i>
			<a href="#/crm/stageopers" translate>Stage Opers</a>
			<i class="fa fa-angle-right"></i>
			<translate>{{detail.code}}</translate>

		</li>

	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button ng-if="editing" class="btn btn-primary" ng-click="save()" translate>Save</button>
			<button ng-if="editing" class="btn btn-warning" ng-click="cancel()" translate>Cancel</button>
			<button ng-if="!editing" class="btn btn-warning" translate>Saved</button>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!--<div class="note note-danger">-->
			<!--<p>-->
				<!--NOTE SAMPLE:.-->
			<!--</p>-->
		<!--</div>-->
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-body">
				<div class="table-container">
					<div class="portlet-body form">
						<form role="form">
							<div class="form-body">
								<div class="form-group">
									<label translate>Code</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-user"></i>
										</span>
										<input ng-change="edit()" ng-model= "detail.oper_code" class="form-control" placeholder="{{ 'Code' | translate }}" >
									</div>
								</div>
								<div class="form-group">
									<label translate>Title</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-user"></i>
										</span>
										<input ng-change="edit()" ng-model= "detail.title" class="form-control" placeholder="{{ 'Title' | translate }}" >
									</div>
								</div>
								<div class="form-group" >
									<label for="fromStageselect" translate>From Stage</label>
									<select ng-change="edit()" class="form-control" name="mySelect" id="fromStageselect"
											ng-options="option.name for option in fromStageSelect.availableOptions track by option.id"
											ng-model="detail._from_stage_select"></select>
								</div>
								<div class="form-group" >
									<label for="toStageselect" translate>To Stage</label>
									<select ng-change="edit()" class="form-control" name="mySelect" id="toStageselect"
											ng-options="option.name for option in toStageSelect.availableOptions track by option.id"
											ng-model="detail._to_stage_select"></select>
								</div>
								<div class="form-group">
									<label translate>Color</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-user"></i>
										</span>
										<input ng-change="edit()" ng-model= "detail.color" class="form-control" placeholder="{{ 'Title' | translate }}" >
									</div>
								</div>
								<div class="form-group">
									<label translate>Icon</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-user"></i>
										</span>
										<input ng-change="edit()" ng-model= "detail.icon" class="form-control" placeholder="{{ 'Title' | translate }}" >
									</div>
								</div>
								<div class="form-group">
									<label translate>Form Url</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-user"></i>
										</span>
										<input ng-change="edit()" ng-model= "detail.form_url" class="form-control" placeholder="{{ 'Title' | translate }}" >
									</div>
								</div>
								<div class="form-group">
									<label translate>Sql Condition</label>
									<div class="input-group">
										<span class="input-group-addon">
										<i class="fa fa-list"></i>
										</span>
										<textarea rows=10 ng-change="edit()" ng-model= "detail.sql_condition" class="form-control" placeholder="{{ 'SQL Condition' | translate }}" />
									</div>
								</div>
								<div ng-if="detail.id!=0">
									<h4 translate>Available Roles</h4>
									<div ng-repeat="rm in stage_oper_roles" class="col-md-4">
										<checkbox ng-change="changeRole(rm)" ng-true-value="1"   ng-false-value="0"  ng-model="rm.enable" />
										<label  translate>{{rm.title}}</label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
</section>

<script type="text/javascript">


	function basicsCtrl($scope, $http,$modal,$log,$stateParams,DMLService) {


		$scope.edit = function edit(){
			$scope.editing = true;
		}

		$scope.changeRole = function(rm){
			rm.changed = true;
			$scope.edit();
		}

		$scope.bindStages = function(){
			$http.get("../restapi/query/get?code=deal_stages_select").
			success(function(data) {
				$scope.fromStageSelect = [];
				$scope.fromStageSelect.availableOptions = data.items;
				$scope.toStageSelect = [];
				$scope.toStageSelect.availableOptions = data.items;
				$scope.detail._from_stage_select={id: $scope.detail.from_stage_id, name: ""};
				$scope.detail._to_stage_select={id: $scope.detail.to_stage_id, name: ""};
			});
		}


		$scope.deleteStageOperRoleItems = function(){
			var deleteValues = [];
			if ($scope.detail.id != 0) {
				$scope.stage_oper_roles.forEach(function (item, i, arr) {
					//alert( i + ": " + item + " (массив:" + arr + ")" );
					if ((item.stage_oper_id != null) && (item.changed)) {
						deleteValues.push({id: item.stage_oper_id});
						console.log("Удалено " + item.stage_oper_id);
					}
				});
			}
			return {table_name:"stage_oper_roles", action:"delete",values:deleteValues};
		}

		$scope.insertStageOperRoleItems = function(stage_oper_id){
			var insertValues = [];
			if ($scope.detail.id != 0) {
				$scope.stage_oper_roles.forEach(function (item, i, arr) {
					//alert( i + ": " + item + " (массив:" + arr + ")" );
					if ((item.enable == 1) && (item.stage_oper_role_id == null) && (item.changed)) {
						insertValues.push({role_id: item.role_id, stage_oper_id: stage_oper_id});
						console.log("Добавлено " + item.role_id);
					}
				});
			}
			return {table_name:"stage_oper_roles", action:"insert",values:insertValues};
		}

		$scope.bind = function bind(id){
			$http.get('../restapi/detail?code=stage_opers&id='+id).
			success(function(data) {
				// here the data from the api is assigned to a variable named users

				$scope.editing = false;
				$scope.detail = {};
				$scope.detail.id = id;
				if (id!=0) {
					$scope.detail = data.stage_opers[0];
					$scope.stage_oper_roles = data.stage_oper_roles;

				}

				$scope.bindStages();

			});
		}


		$scope.save = function save(){
			$scope.detail._table_name_ = "stage_opers";

			$scope.detail.from_stage_id = $scope.detail._from_stage_select.id;
			$scope.detail.to_stage_id = $scope.detail._to_stage_select.id;
			$scope.action =  $scope.detail.id == 0 ? "insert":"update";

			DMLService.update(  [ $scope.deleteStageOperRoleItems(),  $scope.insertStageOperRoleItems($scope.detail.id),{table_name:"stage_opers",action:$scope.action, values: [$scope.detail]}  ]).
					success(function (data) {

						if (data.error!="0")
						{
							alert("Ошибка при сохранении");
							return;
						}
						if ($scope.detail.id == 0) {
							location.href = "#/crm/stageoperdetails/" + data.items[0].id;
						}else{
							$scope.bind($stateParams.id);
						}
					});
			}

		$scope.cancel = function cancel(){
			$scope.bind($stateParams.id);
		}

		$scope.bind($stateParams.id);

	};




</script>

<!-- END MAIN CONTENT -->
